/* bottom-tab-bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 402px;
height: 76px;

background: #121212;
border-top: 1px solid #1C1C1E;

/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* tabs-row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 0px 20px;

width: 402px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* tab-hinge */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;

width: 64px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* H */

width: 15px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* tab-profile */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 64px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* profile-avatar-placeholder */

box-sizing: border-box;

width: 22px;
height: 22px;

background: #1C1C1E;
border: 1px solid #8E8E93;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* tab-likes */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 64px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* heart */

width: 22px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.6%;
bottom: 12.5%;

border: 2px solid #8E8E93;


/* tab-chat */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 64px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* message-square */

width: 22px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 8.35%;

border: 2px solid #8E8E93;


/* tab-profile */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 64px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* profile-avatar-placeholder */

box-sizing: border-box;

width: 22px;
height: 22px;

background: #1C1C1E;
border: 1px solid #8E8E93;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* home-indicator-area */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 402px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* indicator */

width: 140px;
height: 5px;

background: rgba(255, 255, 255, 0.25098);
border-radius: 3px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
